*{
    margin: 0%;
    padding: 0%;
}
nav{
    display: flex;
    justify-content: space-around;
    width: 100wh;
    height: 15%;
    background-color: rgb(242, 130, 86);
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 20px;
    font-size: larger;
    margin-left: 15px;
}
ul li a{
    text-decoration: none;
    color: white;
}
li button{
    border: none;
    font-size: large;
    color: rgb(8, 8, 8);
    border-radius: 12px;
    width: 84px;
    cursor: pointer;
}
.cyimage img{
    height: 250px;
    margin-left: 870px;
}
.cyimage h2{
    color: rgb(232, 143, 65);
    margin-left: 300px;
    margin-top: -150px;
}
.cyimage h1{
    color: rgb(0, 0, 0);
    margin-left: 30px;
    padding: 10px;
}
.cyimage p{
    margin-left: 300px;
    font-size: large;
}
.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    height: 250px;
}
.gallery:hover {
    border: 1px solid rgb(232, 143, 65);
}
.gallery img {
    width: 100%;
    height: auto;
}
.desc {
    padding: 15px;
    text-align: center;
}
#gal{
    margin-left: 300px;
}
#lid{
    margin-bottom: 100px;
}
#type{
    margin-top: 400px;
    margin-left: 300px;
    margin-right: 200px;
    font-size: large;
    margin-bottom: 50px;
}
/* input[type=text], input[type=password] {
    width: 300px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
.clearfix button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}
button:hover {
    opacity:1;
}
.signupbtn{
    background-color: #04AA6D;
}
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}
.cancelbtn, .signupbtn {
    float: left;
    width: 200px;
}
.container {
    padding: 16px;
    margin-left: 300px;
    margin-right: 350px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
} */
input[type=text], select, textarea {
    width: 400px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    
}

input[type=submit] {
    background-color: rgb(232, 143, 65);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: 300px;
    margin-right: 300px;
    height: 370px;
    width: 450px;
}
.container h3{
    margin-left: 150px;
}
.signupdiscount{
    height: 15%;
    background-color: rgb(242, 130, 86);
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: large;
    padding: 15px;
}
.gallery button{
    background-color: rgb(241, 153, 65);
    border: none;
    width: 60px;
    border-radius: 9px;
    cursor: pointer;
    color: white;
    padding: 5px;
}
#tata{
    margin-top: 9px;
}
#herc{
    margin-top: 30px;
}
#lady{
    margin-top: 35px;
}
#roadeo{
    margin-top: 13px;
}
#hero{
    margin-top: 15px;
}
.pp hr{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}
hr{
    margin-top: 20px;
}
.pp h6{
    margin-left: 250px;
    margin-top: 10px;
    font-size: medium;
}
.conimg img{
    float: right;
    height: 320px;
    width: 350px;
    margin-right: 40px;
    border-radius: 30px;
}